.Magic360 {
    padding: 0 !important;
    outline: 0 !important;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*.Magic360.desktop.zoom-in {
    cursor: url(graphics/zoomin.cur), pointer;
}*/

.Magic360 img {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.Magic360 .progress {
    color:#000;
    background: rgba(255,255,255,0.4);
    width: 200px;
    border:1px solid #000; 
    border:1px solid rgba(0,0,0,0.5); 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    line-height:10pt;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:10pt;
    font-weight:bold;
    text-decoration:none;
    text-align: left;
}

.magic-for-ie5 .progress, .magic-for-ie6 .progress, .magic-for-ie7 .progress, .magic-for-ie8 .progress {
    background: transparent !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5cffffff', EndColorStr='#5cffffff');
}

.Magic360 .progress > div { 
    padding:10px;
}

.Magic360 .progress > div > div { 
    overflow:hidden;
    padding:0;
    margin:8px 0 0 0;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
    
}
.Magic360 .progress .bar { 
    overflow: hidden;
    padding:0;
    background:#fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#ffffff));
    background-image: -moz-linear-gradient(top,  #c5c5c5,  #ffffff);
    background-image: -o-linear-gradient(90deg,#c5c5c5 0%, #ffffff 100%);
    background-image: -ms-linear-gradient(90deg,#c5c5c5 0%, #ffffff 100%);
    background-image: linear-gradient(90deg,#c5c5c5 0%, #ffffff 100%);
    border:1px solid #ffffff; 
    border:1px solid rgba(255,255,255,0.6); 
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.magic-for-ie5 .progress .bar, .magic-for-ie6 .progress .bar, .magic-for-ie7 .progress .bar
, .magic-for-ie8 .progress .bar, .magic-for-ie9 .progress .bar {
    background: transparent !important;
     filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#c5c5c5', endColorstr='#ffffff');
}
 
.Magic360 .progress .bar .state, .Magic360-progress-bar-state {
    height:16px;
    padding:0;
    background:#fff url('graphics/progress.gif') top left repeat-x;
    border-right:1px solid rgba(255,255,255,0.8); 
}


.Magic360 .magnifier {
    -webkit-box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-collapse: separate;
}
.Magic360.magic-for-ie6 .magnifier, .Magic360.magic-for-ie7 .magnifier, .Magic360.magic-for-ie8 .magnifier {
    border:  3px ridge #e7e7e7;
}
.Magic360.desktop .magnifier.inner {
    cursor: url(graphics/zoomout.cur), pointer;
}
.Magic360 .magnifier.circle, .Magic360 .magnifier.square{
    cursor: none;
}

.Magic360-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0px;
    height: 60px;
    line-height: 0px;
    padding: 0;
    position: absolute;
    width: 60px;
}

.desktop .Magic360-button {
    height: 40px;
    width: 40px;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.desktop .Magic360-button:hover {
    opacity: 1.0 !important;
}

.Magic360.magic-for-ie6 .Magic360-button, .Magic360.magic-for-ie7 .Magic360-button, .Magic360.magic-for-ie8 .Magic360-button {
    filter: alpha(opacity=70);
}
.Magic360.magic-for-ie6 .Magic360-button:hover, .Magic360.magic-for-ie7 .Magic360-button:hover, .Magic360.magic-for-ie8 .Magic360-button:hover {
    filter: alpha(opacity=100) !important;
}

.Magic360-button.fullscreen {
    background-image: url(graphics/buttons01.png);
    background-position: 0px 0px;
    top: 15px;
    right: 15px;
    z-index: 10;
}
.Magic360-fullscreen .Magic360-button.fullscreen {
    display: none;
}

.Magic360-button.fullscreen-exit {
    background-image: url(graphics/buttons01.png);
    background-position: -60px 0px;
    right: 15px;
    top: 15px;
    z-index: 20;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .Magic360-button {
        height: 40px;
        width: 40px;
    }

    .Magic360-button.fullscreen {
        background-position: -120px 0px;
    }

    .Magic360-button.fullscreen-exit {
        background-position: -160px 0px;
    }
}

.Magic360.desktop .Magic360-button.fullscreen {
    background-position: -120px 0px;
}
.Magic360-fullscreen.desktop .Magic360-button.fullscreen-exit {
    background-position: -160px 0px;
}

.Magic360-fullscreen {
    background: #fff;
}
.Magic360-fullscreen:-webkit-full-screen {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}

.Magic360-fullscreen:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Magic360-fullscreen .Magic360 {
    vertical-align: middle;
}

.Magic360-fullscreen .Magic360.desktop.zoom-in {
    cursor: pointer;
}

.Magic360-wait {
    background-image: url(graphics/loader.gif);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.magic-for-ie5 .Magic360-wait, .magic-for-ie6 .Magic360-wait, .magic-for-ie7 .Magic360-wait
, .magic-for-ie8 .Magic360-wait, .magic-for-ie9 .Magic360-wait {
    filter: alpha(opacity=60);
}

.Magic360-message {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #AAAAAA;
    display: block;
    font-size: 10px;
    color: #000;
    overflow: hidden;
    padding: 6px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 33%;
    left: 33%;
    z-index: 100;

    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    border-collapse: separate;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.Magic360-fullscreen .Magic360-message {
    font-size: 18px;
    background-color: #000;
    border-color: #ccc;
    color: #fff;
    top: 15px;
}

.Magic360 .Magic360-hint {
    color: #333;
    opacity:0.6;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 13pt;

    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 174px;
    max-width: 90%;

    background-color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#c5c5c5), to(#ffffff));
    background-image: -moz-linear-gradient(bottom,  #c5c5c5,  #ffffff);
    background-image: -o-linear-gradient(90deg,#c5c5c5 0%, #ffffff 100%);
    background-image: -ms-linear-gradient(90deg,#c5c5c5 0%, #ffffff 100%);
    background-image: linear-gradient(90deg,#c5c5c5 0%, #ffffff 100%);

    border:1px solid #000;
    border:1px solid rgba(0,0,0,0.4);

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
}

.magic-for-ie5 .Magic360-hint, .magic-for-ie6 .Magic360-hint, .magic-for-ie7 .Magic360-hint
, .magic-for-ie8 .Magic360-hint, .magic-for-ie9 .Magic360-hint {
    background: #ffffff !important;
    filter: alpha(opacity=60);
    box-shadow: inset 0 -18px 10px rgba(0,0,0,0.12), 0 1px 0 rgba(255,255,255, 0.3), inset 0 1px 0 rgba(255,255,255, 0.3);
}

.Magic360 .Magic360-hint .hint-side, .Magic360-hint-side {
    background-image: url(graphics/hint-01.png);
    background-color: transparent;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 60px;
    padding: 0;
    max-width: 60px;
}

.Magic360 .Magic360-hint .hint-side.left {
    background-position: 0 50%;
    left: 5px;
}

.Magic360 .Magic360-hint .hint-side.right {
    background-position: -60px 50%;
    right: 5px;
}

.Magic360 .Magic360-hint .hint-text {
    width: 40%;
}

.magic-temporary-img img {
    max-height: none !important;
    max-width: none !important;
}
