@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic);
@font-face
{
    font-family: 'yanuscregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/yanus_regular-webfont.eot');
    src: url('../fonts/yanus_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/yanus_regular-webfont.woff2') format('woff2'), url('../fonts/yanus_regular-webfont.woff') format('woff'), url('../fonts/yanus_regular-webfont.ttf') format('truetype'), url('../fonts/yanus_regular-webfont.svg#yanuscregular') format('svg');
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html
{
    font-family: sans-serif;
    /* 1 */

        -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body
{
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary
{
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video
{
    display: inline-block;
    /* 1 */

    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls])
{
    display: none;

    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template
{
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a
{
    background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover
{
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title]
{
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong
{
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn
{
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1
{
    font-size: 2em;

    margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark
{
    color: #000;
    background: #ff0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small
{
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img
{
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root)
{
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure
{
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre
{
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea
{
    /* 1 */
    font: inherit;
    /* 2 */

    margin: 0;

    color: inherit;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button
{
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select
{
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    /* 2 */
    cursor: pointer;

    -webkit-appearance: button;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled]
{
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input
{
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type='checkbox'],
input[type='radio']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type='search']
{
    /* 1 */
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
    /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend
{
    /* 1 */
    padding: 0;

    border: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea
{
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup
{
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input,
textarea
{
    outline: none;
}

.clearfix:before,
.media:before,
.clearfix:after,
.media:after
{
    display: table;

    content: ' ';
}

.clearfix:after,
.media:after
{
    clear: both;
}

html
{
    -webkit-tap-highlight-color: transparent;
}

body
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;

    color: #000;
    background-color: #f5f5f5;
}

a
{
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: underline;

    color: #000;
}
a:hover,
a:focus
{
    text-decoration: none;

    color: #000;
}

.relative
{
    position: relative;
}

img
{
    max-width: 100%;
    height: auto;
}

.img--right
{
    float: right;

    margin-bottom: 21px;
    margin-left: 21px;
}

.img--left
{
    float: left;

    margin-right: 21px;
    margin-bottom: 21px;
}

.img--center
{
    display: block;

    margin-right: auto;
    margin-bottom: 21px;
    margin-left: auto;
}

@media print
{
    *,
    *:before,
    *:after
    {
        color: #000 !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
           -moz-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited
    {
        text-decoration: underline;
    }
    a[href]:after
    {
        content: ' (' attr(href) ')';
    }
    abbr[title]:after
    {
        content: ' (' attr(title) ')';
    }
    a[href^='#']:after,
    a[href^='javascript:']:after
    {
        content: '';
    }
    pre,
    blockquote
    {
        border: 1px solid #999;

        page-break-inside: avoid;
    }
    thead
    {
        display: table-header-group;
    }
    tr,
    img
    {
        page-break-inside: avoid;
    }
    img
    {
        max-width: 100% !important;
    }
    p,
    h2,
    h3
    {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3
    {
        page-break-after: avoid;
    }
    .hidden--print
    {
        display: none !important;
    }
}

a:active,
a:focus
{
    outline: none;
}

input,
textarea
{
    outline: none;
}

input:active,
textarea:active
{
    outline: none;
}

:focus
{
    outline: none;
}

textarea
{
    resize: none;
}

textarea
{
    resize: vertical;
}

textarea
{
    resize: horizontal;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2227;

    color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
{
    font-weight: normal;
    line-height: 1;
}

h1,
h2,
h3
{
    margin-top: 21px;
    margin-bottom: 10.5px;
}
h1 small,
h2 small,
h3 small
{
    font-size: 65%;
}

h4,
h5,
h6
{
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}
h4 small,
h5 small,
h6 small
{
    font-size: 75%;
}

h1
{
    font-size: 20px;
}

h2
{
    font-size: 24px;
}

/*
.text--center h2
{
    font-size: 36px;
}
*/

.card h2
{
    font-size: 36px;
}

h3
{
    font-size: 22px;
    font-weight: 200;
}

h4
{
    font-size: 20px;
}

h5
{
    font-size: 18px;
}

h6
{
    font-size: 14px;
}

p {
    margin: 0 0 10.5px;
}

b {
    font-weight: 700;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--center {
    text-align: center;
}

.text--justify {
    text-align: justify;
}

.text--nowrap {
    white-space: nowrap;
}

@media (min-width: 480px) {
  .text--sm--left {
    text-align: left; }
  .text--sm--right {
    text-align: right; }
  .text--sm--center {
    text-align: center; } }

@media (min-width: 768px) {
  .text--md--left {
    text-align: left; }
  .text--md--right {
    text-align: right; }
  .text--md--center {
    text-align: center; } }

@media (min-width: 992px) {
  .text--lg--left {
    text-align: left; }
  .text--lg--right {
    text-align: right; }
  .text--lg--center {
    text-align: center; } }

@media (min-width: 1450px) {
  .text--xlg--left {
    text-align: left; }
  .text--xlg--right {
    text-align: right; }
  .text--xlg--center {
    text-align: center; } }

.text--lowercase {
    text-transform: lowercase;
}

.text--uppercase {
    text-transform: uppercase;
}

h1.text--uppercase {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.7;
}

.text--capitalize {
    text-transform: capitalize;
}

.text--line-through {
    text-decoration: line-through;
}

.text--sm
{
    font-size: 12px;
}

.text--md
{
    font-size: 16px;
    line-height: 1.25;
}

.text--lg
{
    font-size: 18px;
}

.text--default
{
    color: #777;
}

a.text--default:hover,
a.text--default:focus
{
    color: #5e5e5e;
}

.text--primary
{
    color: #4a261a;
}

a.text--primary:hover,
a.text--primary:focus
{
    color: #24130d;
}

.text--success
{
    color: #bd9086;
}

a.text--success:hover,
a.text--success:focus
{
    color: #ab7265;
}

.text--info
{
    color: #2dbcb6;
}

a.text--info:hover,
a.text--info:focus
{
    color: #23938e;
}

.text--warning
{
    color: #e8954c;
}

a.text--warning:hover,
a.text--warning:focus
{
    color: #e27a1f;
}

.text--danger
{
    color: #c91e23;
}

a.text--danger:hover,
a.text--danger:focus
{
    color: #9d171b;
}

.text--gras
{
    color: #66a932;
}

a.text--gras:hover,
a.text--gras:focus
{
    color: #4e8226;
}

ul,
ol
{
    margin-top: 0;
    margin-bottom: 10.5px;
}
ul ul,
ul ol,
ol ul,
ol ol
{
    margin-bottom: 0;
}

.list--unstyled
{
    padding-left: 0;

    list-style: none;
}

.list--inline
{
    margin-left: -5px;
    padding-left: 0;

    list-style: none;
}
.list--inline > li
{
    display: inline-block;

    padding-right: 5px;
    padding-left: 5px;
}

blockquote
{
    font-size: 18.75px;

    margin: 0 0 21px;
    padding: 10.5px 21px;

    border-left: 5px solid #eee;
}
blockquote:before
{
    content: '\2014 \00A0';
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child
{
    margin-bottom: 0;
}

.fade
{
    -webkit-transition: opacity .15s linear;
       -moz-transition: opacity .15s linear;
         -o-transition: opacity .15s linear;
            transition: opacity .15s linear;

    opacity: 0;
}
.fade.in
{
    opacity: 1;
}

.collapse
{
    display: none;
}
.collapse.in
{
    display: block;
}

tr.collapse.in
{
    display: table-row;
}

tbody.collapse.in
{
    display: table-row-group;
}

.collapsing
{
    position: relative;

    overflow: hidden;

    height: 0;

    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-property: height, visibility;
    -webkit-transition-property: .35s;
       -moz-transition-property: height, visibility;
       -moz-transition-property: .35s;
         -o-transition-property: height, visibility;
         -o-transition-property: .35s;
            transition-property: height, visibility;
            transition-property: .35s;
}

.breadcrumb {
    font-family: 'yanuscregular';
    font-size: 15px;

    margin-bottom: 21px;
    padding: 10px 0;

    list-style: none;

    text-align: left;
    display: none;
}

@media (min-width: 992px) {
    .breadcrumb {
        display: block;
    }
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;

    content: '/';

    color: #777;
}
.breadcrumb > li a {
    color: #777;
}
.breadcrumb > .active {
    color: #777;
}
.mainImg .breadcrumb > li + li:before {
    color: #fff;
}
.mainImg .breadcrumb > li a {
    color: #fff;
}
.mainImg .breadcrumb > .active {
    color: #fff;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;

    border: 3px solid transparent;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-image: none;

    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.btn:hover,
.btn:focus,
.btn.focus {
    text-decoration: none;

    color: #333;
}
.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
       -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn--default {
    color: #333;
    border-color: #ccc;
    background-color: #fff;
}
.btn--default:focus,
.btn--default.focus {
    color: #333;
    border-color: #beacac;
    background-color: #e8e8e8;
}
.btn--default:hover {
    color: #333;
    border-color: #beacac;
    background-color: #e8e8e8;
}
.btn--default:active,
.btn--default.active,
.open > .btn--default.dropdown-toggle {
    background-image: none;
}

.btn--primary {
    color: #fff;
    border-color: #371c13;
    background-color: #4a261a;
}
.btn--primary:focus,
.btn--primary.focus
{
    color: #fff;
    border-color: #170a06;
    background-color: #2b130b;
}
.btn--primary:hover
{
    color: #fff;
    border-color: #170a06;
    background-color: #2b130b;
}
.btn--primary:active,
.btn--primary.active,
.open > .btn--primary.dropdown-toggle
{
    background-image: none;
}

.btn--success
{
    color: #fff;
    border-color: #bd9086;
    background-color: transparent;
}
.btn--success:focus,
.btn--success.focus
{
    color: #fff;
    border-color: #bb6c5a;
    background-color: transparent;
}
.btn--success:hover
{
    color: #fff;
    border-color: #bb6c5a;
    background-color: transparent;
}
.btn--success:active,
.btn--success.active,
.open > .btn--success.dropdown-toggle
{
    background-image: none;
}
.btn--success:focus,
.btn--success:hover
{
    color: #fff;
    border-color: #bd9086;
    background-color: #bd9086;
}

.btn--info
{
    color: #fff;
    border-color: #2dbcb6;
    background-color: #2dbcb6;
}
.btn--info:focus,
.btn--info.focus
{
    color: #fff;
    border-color: #19a29c;
    background-color: #19a29c;
}
.btn--info:hover
{
    color: #fff;
    border-color: #19a29c;
    background-color: #19a29c;
}
.btn--info:active,
.btn--info.active,
.open > .btn--info.dropdown-toggle
{
    background-image: none;
}

.btn--warning
{
    color: #fff;
    border-color: #e8954c;
    background-color: #e8954c;
}
.btn--warning:focus,
.btn--warning.focus
{
    color: #fff;
    border-color: #f27c14;
    background-color: #f27c14;
}
.btn--warning:hover
{
    color: #fff;
    border-color: #f27c14;
    background-color: #f27c14;
}
.btn--warning:active,
.btn--warning.active,
.open > .btn--warning.dropdown-toggle
{
    background-image: none;
}

.btn--danger
{
    text-decoration: underline;

    color: #000;
    border-color: #c91e23;
    background-color: transparent;
}
.btn--danger:focus,
.btn--danger.focus
{
    color: #000;
    border-color: #ac0d12;
    background-color: transparent;
}
.btn--danger:hover
{
    color: #000;
    border-color: #ac0d12;
    background-color: transparent;
}
.btn--danger:active,
.btn--danger.active,
.open > .btn--danger.dropdown-toggle
{
    background-image: none;
}
.btn--danger:focus,
.btn--danger:hover
{
    color: #fff;
    border-color: #c91e23;
    background-color: #c91e23;
}
.btn--danger-full
{
    text-decoration: none;

    color: #fff;
    border-color: #c91e23;
    background-color: #c91e23;
}
.btn--danger-full:focus,
.btn--danger-full.focus
{
    color: #fff;
    border-color: #ac0d12;
    background-color: #ac0d12;
}
.btn--danger-full:hover
{
    color: #fff;
    border-color: #ac0d12;
    background-color: #ac0d12;
}
.btn--danger-full:active,
.btn--danger-full.active,
.open > .btn--danger-full.dropdown-toggle
{
    background-image: none;
}

.btn--gras
{
    color: #fff;
    border-color: #66a932;
    background-color: #66a932;
}
.btn--gras:focus,
.btn--gras.focus
{
    color: #fff;
    border-color: #4f901d;
    background-color: #4f901d;
}
.btn--gras:hover
{
    color: #fff;
    border-color: #4f901d;
    background-color: #4f901d;
}
.btn--gras:active,
.btn--gras.active,
.open > .btn--gras.dropdown-toggle
{
    background-image: none;
}

.btn--busket {
    background-image: url('../images/busketIco.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 14px 15px 15px;
}
.btn--busket span  {
    font-weight: 400;
}

.btn--lg
{
    font-size: 18px;
    line-height: 1.33333;

    padding: 10px 16px;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.btn--sm
{
    font-size: 12px;
    line-height: 1.5;

    padding: 3px 20px;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}

.btn--md
{
    font-size: 14px;
    line-height: 1.5;

    width: 265px;
    padding: 9px 12px;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.btn--md.btn--danger-full
{
    width: 220px;
}

.btn--block
{
    display: block;

    width: 100%;
}

.btn-block + .btn-block
{
    margin-top: 5px;
}

input[type='submit'].btn-block,
input[type='reset'].btn-block,
input[type='button'].btn-block
{
    width: 100%;
}

fieldset
{
    min-width: 0;
    margin: 0;
    padding: 0;

    border: 0;
}

legend
{
    font-size: 22.5px;
    line-height: inherit;

    display: block;

    width: 100%;
    margin-bottom: 21px;
    padding: 0;

    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label
{
    font-weight: 400;

    display: inline-block;

    max-width: 100%;
    margin-bottom: 5px;
}
label sup
{
    color: #c91e23;
}

input[type='search']
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

     -khtml-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
}

input[type='radio'],
input[type='checkbox']
{
    line-height: normal;

    margin: 4px 0 0;
    margin-top: 1px \9;
}

input[type='file']
{
    display: block;
}

input[type='range']
{
    display: block;

    width: 100%;
}

select[multiple],
select[size]
{
    height: auto;
}

input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus
{
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.form-control
{
    font-size: 15px;
    line-height: 1.42857;

    display: block;

    width: 100%;
    height: 35px;
    padding: 6px 10px;

    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control:focus
{
    border-color: #e48f91;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
            box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
}
.form-control::-moz-placeholder
{
    opacity: 1;
    color: #afafaf;
}
.form-control:-ms-input-placeholder
{
    color: #afafaf;
}
.form-control::-webkit-input-placeholder
{
    color: #afafaf;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
{
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control
{
    cursor: not-allowed;
}

textarea.form-control
{
    height: auto;

    resize: none;
}

input[type='search']
{
    -webkit-appearance: none;
}

.form-group
{
    margin-bottom: 15px;
}

.radio,
.checkbox
{
    position: relative;

    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label,
.checkbox label
{
    font-weight: normal;

    min-height: 21px;
    margin-bottom: 0;
    padding-left: 26px;

    cursor: pointer;

    color: #777;
}
.radio label:after,
.checkbox label:after
{
    position: absolute;
    top: 2px;
    left: 4px;

    display: block;

    width: 18px;
    height: 18px;

    content: '';

    border: 1px solid #ccc;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15);
            box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15);
}
.text--lg .radio label:after,
.text--lg .checkbox label:after
{
    top: 5px;
}
.radio input,
.checkbox input
{
    display: none;
}

.radio label:after
{
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.checkbox input[type='checkbox']:hover + label:after
{
    border: 1px solid #e48f91;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
            box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
}

.checkbox input[type='checkbox']:checked + label:after
{
    border: 2px solid #c91e23;
    background: url('../images/checkIco.png') center no-repeat, #fff;
}

.radio input[type='radio']:hover + label:after
{
    border: 1px solid #e48f91;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
            box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
}

.radio input[type='radio']:checked + label:after
{
    border: 2px solid #c91e23;
    background: url('../images/checkIco.png') center no-repeat, #fff;
}

.checkbox input[type='checkbox']:hover + label,
.checkbox input[type='checkbox']:checked + label
{
    color: #c91e23;
}

.radio input[type='radio']:hover + label,
.radio input[type='radio']:checked + label
{
    color: #c91e23;
}

.radio + .radio,
.checkbox + .checkbox
{
    margin-top: 1px;
}

.radio-inline,
.checkbox-inline
{
    font-weight: normal;

    position: relative;

    display: inline-block;

    margin-bottom: 0;
    padding-left: 20px;

    cursor: pointer;
    vertical-align: middle;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline
{
    margin-top: 0;
    margin-left: 10px;
}

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled] .checkbox label
{
    cursor: not-allowed;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before,
  .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 480px) {
    .container {
      width: 470px; } }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1450px) {
    .container {
      width: 960px; } }


.row {
    margin-right: -10px;
    margin-left: -10px;
}
.row:before,
.row:after {
    display: table;

    content: ' ';
}
.row:after {
    clear: both;
}

.col {
    position: relative;

    float: left;

    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }



@media (min-width: 480px) {
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

@media (min-width: 1450px) {
  .col-xlg-1 {
    width: 8.33333%; }
  .col-xlg-2 {
    width: 16.66667%; }
  .col-xlg-3 {
    width: 25%; }
  .col-xlg-4 {
    width: 33.33333%; }
  .col-xlg-5 {
    width: 41.66667%; }
  .col-xlg-6 {
    width: 50%; }
  .col-xlg-7 {
    width: 58.33333%; }
  .col-xlg-8 {
    width: 66.66667%; }
  .col-xlg-9 {
    width: 75%; }
  .col-xlg-10 {
    width: 83.33333%; }
  .col-xlg-11 {
    width: 91.66667%; }
  .col-xlg-12 {
    width: 100%; } }

.input-group
{
    position: relative;

    display: table;

    border-collapse: separate;
}
.input-group[class*='col-']
{
    float: none;

    padding-right: 0;
    padding-left: 0;
}
.input-group .form-control
{
    position: relative;
    z-index: 2;

    float: left;

    width: 100%;
    margin-bottom: 0;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control
{
    display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child)
{
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.input-group-addon,
.input-group-btn
{
    width: 1%;

    vertical-align: middle;
    white-space: nowrap;
}

.input-group-addon
{
    font-size: 15px;
    font-weight: normal;
    line-height: 1;

    padding: 6px 12px;

    text-align: center;

    color: #555;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #eee;
}
.input-group-addon.input-sm
{
    font-size: 12px;

    padding: 3px 20px;

    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}
.input-group-addon.input-lg
{
    font-size: 18px;

    padding: 10px 16px;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.input-group-addon input[type='radio'],
.input-group-addon input[type='checkbox']
{
    margin-top: 0;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn
{
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn
{
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
}

.input-group-btn
{
    font-size: 0;

    position: relative;

    white-space: nowrap;
}
.input-group-btn > .btn
{
    position: relative;
}
.input-group-btn > .btn + .btn
{
    margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active
{
    z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group
{
    margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group
{
    z-index: 2;

    margin-left: -1px;
}

.media
{
    display: block;
}

.media__img
{
    float: left;

    margin-right: 21px;
}

.media__img--rev
{
    float: right;

    margin-left: 21px;
}

.media__img img,
.media__img--rev img
{
    display: block;
}

.media__body
{
    overflow: hidden;
}

.media__body,
.media__body > :last-child
{
    margin-bottom: 0;
}

.islet .media__img
{
    margin-right: 10px;
}

.islet .media__img--rev
{
    margin-left: 10px;
}

.close
{
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;

    position: absolute;
    z-index: 9;
    top: -35px;
    right: 0;

            opacity: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;

    -webkit-opacity: 1;
       -moz-opacity: 1;
}

@media (min-width: 768px) {
  .close {
    right: -35px;}
}
.modal-sm .close
{
    position: relative;

    float: right;

    margin-top: 5px;
    margin-right: 8px;
}
.close:hover,
.close:focus
{
    cursor: pointer;
    text-decoration: none;

            opacity: .8;
    color: #000;

    -webkit-opacity: .8;
       -moz-opacity: .8;
}

button.close
{
    padding: 0;

    cursor: pointer;

    border: 0;
    background: transparent;

    -webkit-appearance: none;
}

.modal-open
{
    overflow: hidden;
}

.modal
{
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    outline: 0;

    -webkit-overflow-scrolling: touch;
}
.modal.fade .modal-dialog
{
    -webkit-transition: -webkit-transform .3s ease-out;
       -moz-transition:    -moz-transform .3s ease-out;
         -o-transition:      -o-transform .3s ease-out;
            transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
       -moz-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
         -o-transform: translate(0, -25%);
            transform: translate(0, -25%);
}
.modal.in .modal-dialog
{
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
}

.modal-open .modal
{
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog
{
    position: relative;
}

.modal-content
{
    position: relative;

    border: 1px solid transparent;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    outline: 0;
    background-color: #fff;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
       -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-sm .modal-content .btn
{
    width: auto;
    padding: 4px 29px;
}

.modal-backdrop
{
    position: fixed;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #fff;
}
.modal-backdrop.fade
{
            opacity: 0;

    -webkit-opacity: 0;
       -moz-opacity: 0;
}
.modal-backdrop.in
{
            opacity: .85;

    -webkit-opacity: .85;
       -moz-opacity: .85;
}

.modal-header
{
    padding: 15px;

    border-bottom: 1px solid #e5e5e5;
}
.modal-header:before,
.modal-header:after
{
    display: table;

    content: ' ';
}
.modal-header:after
{
    clear: both;
}

.modal-header .close
{
    margin-top: -2px;
}

.modal-title
{
    line-height: 1.42857;

    margin: 0;
}

.modal-body
{
    position: relative;

    padding: 0 20px 25px;
}

.modal-footer
{
    padding: 0 20px 25px;

    text-align: right;

    border-top: 1px solid #e5e5e5;
}
.modal-footer:before,
.modal-footer:after
{
    display: table;

    content: ' ';
}
.modal-footer:after {
    clear: both;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;

    overflow: scroll;

    width: 50px;
    height: 50px;
}

.modal-dialog {
    width: auto;
    margin: 60px auto;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
       -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

@media (min-width: 480px) {
  .modal-sm {
    width: 260px; } }

@media (min-width: 768px) {
  .modal-dialog {
    width: 550px;}
  .modal-lg {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 990px; } }

.navbar {
    /*position: relative;*/

    margin: auto;
    border: 1px solid transparent;
    float: left;
    width: 100%;
}
.navbar:before,
.navbar:after
{
    display: table;

    content: ' ';
}
.navbar:after
{
    clear: both;
}

.navbar-collapse {
    overflow-x: visible;
/*

    padding-right: 10px;
    padding-left: 10px;

    border-top: 1px solid transparent;
*/
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);

    -webkit-overflow-scrolling: touch;
}
.navbar-collapse:before,
.navbar-collapse:after {
    display: table;

    content: ' ';
}
.navbar-collapse:after {
    clear: both;
}
.navbar-collapse.in
{
    overflow-y: auto;
}
@media (min-width: 768px) {
    .navbar-collapse
    {
        width: auto;

        border-top: 0;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    .navbar-collapse.collapse
    {
        display: block !important;
        overflow: visible !important;

        height: auto !important;
        padding-bottom: 0;
    }
    .navbar-collapse.in
    {
        overflow-y: visible;
    }
}

.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: -10px;
    margin-left: -10px;
}
@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse
    {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-fixed-top {
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
}
@media (min-width: 768px) {
    .navbar-fixed-top
    {
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
}

.navbar-fixed-top {
    top: 0;

    border-width: 0 0 1px;
}

.navbar-toggle {
    position: relative;

    float: left;

    margin-right: 10px;
    background-color: transparent;
    background-image: none;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;

    width: 34px;
    height: 6px;
    background-color: #532112;
    margin-right: 20px;
    
}
.navbar-toggle .btn {
   border-width: 0;
    font-size: 16px;
    padding: 4px 12px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}
@media (min-width: 768px) {
    .navbar-toggle
    {
        display: none;
    }
}

/*
.navbar-nav {
    margin: 7.25px -10px;
}
*/
.navbar-nav > li > a {
    line-height: 21px;

    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .navbar {
        width: auto;
        max-width: 450px;
        margin-left: 15px;
    }
    .navbar-nav
    {
        float: left;

        margin: 0;
    }
    .navbar-nav > li
    {
        float: left;
    }
    .navbar-nav > li > a
    {
        padding-top: 14.5px;
        padding-bottom: 14.5px;
    }
}


.dropdown {
    position: relative;
    background: url('../images/arrProdD.png') center right 15px no-repeat;
}
.dropdown.active {
    background: url('../images/arrProd.png') top 20px right 15px no-repeat;
}
.dropdown-menu {
    background-color: #dccac6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
    padding: 17px;
    display: none;
}
.active .dropdown-menu {
    display: block;
}
.dropdown-menu ul {
    padding: 0;
    list-style-type: none;
    max-width: 500px;
    margin: auto;
}

.dropdown-menu li {
    padding: 0 8px;
}
.dropdown-menu li a {
  color: #4a261a;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    display: block;
}
.dropdown-menu li a:hover {
    text-decoration: underline;
}

.dropdown > a {
    position: relative;
}
@media (min-width: 768px) {
    .dropdown {
        background: none;
    }
    .dropdown-menu {
        position: absolute;
        left: 50%;
        top: 100%;
        width: 250px;
        margin-left: -125px;
        z-index: 10000;
    }
    .dropdown-menu li a {
        padding: 0;
    }
    .dropdown:hover > a::before {
        content: "";
        border-style: solid;
        border-width: 0 6.5px 12px 6.5px;
        border-color: transparent transparent #dccac6 transparent;
        position: absolute;
        left: 50%;top: 100%;
        margin-left: -7px;
    }
    .dropdown:hover > .dropdown-menu  {
        display: block;
    }
}

.sitemap {
    list-style-type: square;
    font-weight: 400;
    line-height: 1.9;
    color: #522013;
    padding-left: 20px;
}
.sitemap a {
    color: #000;
    text-decoration: none;
}
    .sitemap a:hover {
        text-decoration: underline;
    }

.sitemap ul {
    list-style-type: none;
    padding-left: 60px;
    font-weight: 300;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav:before,
.nav:after,
.navbar-header:before,
.navbar-header:after {
    display: table;
    content: ' ';
}
.nav:after, .navbar-header:after {
    clear: both;
}
.nav > li {
    display: block;

    padding: 10px 15px;
    text-align: center;
}
.nav > li > a {
    font-weight: 300;

    position: relative;

    display: block;

    padding: 0;

    text-decoration: none;
    text-transform: uppercase;

    color: #4a261a;
}
.nav > li > a:hover,
.active .nav > li > a,
.nav > li > a:focus
{
    text-decoration: none;

    color: #c91e23;
}
.nav > li > a > img {
    max-width: none;
}

.navbar-header {
    padding-top: 13px;
    border-top: 1px solid #d7d7d7;
}
.mobile--collapse {
   cursor: pointer;
}
.mobile--collapse__desc {
    display: none;
}
@media (min-width: 768px) {
    .mobile--collapse {
        display: none;
    }
    .mobile--collapse__desc {
        display: block;
    }
    .navbar-header {
        padding: 0;
        border: none;
    }
    .nav > li:first-child {
        padding-left: 0;
    }
    .nav > li:last-child {
        padding-right: 0;
    }
    .nav > li {
        padding: 0 9px 8px;
        text-align: left;
    }
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.pagination {
    display: block;

    margin: 21px 0;
    padding-left: 0;

    text-align: center;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}
.pagination > li {
    display: inline-block;
}
.pagination > li > a,
.pagination > li > span {
    line-height: 1.42857;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 10px 13px;

    text-decoration: underline;

    color: #000;
    border: 3px solid transparent;
    background-color: transparent;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus
{
    z-index: 3;

    text-decoration: none;

    color: #000;
    border-color: #c91e23;
    background-color: transparent;
}
.pagination .default a
{
    text-decoration: none;

    color: #afafaf;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus
{
    z-index: 2;

    cursor: default;
    text-decoration: none;

    color: #000;
    border-color: #c91e23;
    background-color: transparent;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus
{
    cursor: not-allowed;

    color: #777;
    border-color: #ddd;
    background-color: #fff;
}

.pager
{
    margin: 21px 0;
    padding-left: 0;

    list-style: none;

    text-align: center;
}
.pager:before,
.pager:after
{
    display: table;

    content: ' ';
}
.pager:after
{
    clear: both;
}
.pager li
{
    display: inline;
}
.pager li > a,
.pager li > span
{
    display: inline-block;

    padding: 5px 4px;

    border: 1px solid transparent;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    background-color: transparent;
}
.pager li > a:hover,
.pager li > a:focus
{
    text-decoration: none;

    background-color: transparent;
}
.pager .next > a,
.pager .next > span
{
    float: right;
}
.pager .next > a i,
.pager .next > span i
{
    font-style: normal;

    color: #afafaf;
}
.pager .next > a.def,
.pager .next > span.def
{
    text-decoration: none;
}
.pager .previous > a,
.pager .previous > span
{
    float: left;
}
.pager .previous > a i,
.pager .previous > span i
{
    font-style: normal;

    color: #afafaf;
}
.pager .previous > a.def,
.pager .previous > span.def
{
    text-decoration: none;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span
{
    cursor: not-allowed;

    color: #777;
    background-color: transparent;
}


.visible--xs {
  display: none !important; }

.visible--sm {
  display: none !important; }

.visible--md {
  display: none !important; }

.visible--lg {
  display: none !important; }

.visible--xs--block,
.visible--xs--inline,
.visible--xs--inline-block,
.visible--sm--block,
.visible--sm--inline,
.visible--sm--inline-block,
.visible--md--block,
.visible--md--inline,
.visible--md--inline-block,
.visible--lg--block,
.visible--lg--inline,
.visible--lg--inline-block {
  display: none !important; }

@media (max-width: 479px) {
  .visible--xs {
    display: block !important; }
  table.visible--xs {
    display: table !important; }
  tr.visible--xs {
    display: table-row !important; }
  th.visible--xs,
  td.visible--xs {
    display: table-cell !important; } }

@media (max-width: 479px) {
  .visible--xs--block {
    display: block !important; } }

@media (max-width: 479px) {
  .visible--xs--inline {
    display: inline !important; } }

@media (max-width: 479px) {
  .visible--xs--inline--block {
    display: inline-block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible--sm {
    display: block !important; }
  table.visible--sm {
    display: table !important; }
  tr.visible--sm {
    display: table-row !important; }
  th.visible--sm,
  td.visible--sm {
    display: table-cell !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible--sm--block {
    display: block !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible--sm--inline {
    display: inline !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .visible--sm--inline--block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md {
    display: block !important; }
  table.visible--md {
    display: table !important; }
  tr.visible--md {
    display: table-row !important; }
  th.visible--md,
  td.visible--md {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md--block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md--inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible--md--inline--block {
    display: inline-block !important; } }

@media (min-width: 992px) {
  .visible--lg {
    display: block !important; }
  table.visible--lg {
    display: table !important; }
  tr.visible--lg {
    display: table-row !important; }
  th.visible--lg,
  td.visible--lg {
    display: table-cell !important; } }

@media (min-width: 992px) {
  .visible--lg--block {
    display: block !important; } }

@media (min-width: 992px) {
  .visible--lg--inline {
    display: inline !important; } }

@media (min-width: 992px) {
  .visible--lg--inline--block {
    display: inline-block !important; } }

@media (max-width: 479px) {
  .hidden--xs {
    display: none !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hidden--sm {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden--md {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1449px) {
  .hidden--lg {
    display: none !important; } }

@media (min-width: 1450px) {
  .hidden--xlg {
    display: none !important; } }

table
{
    background-color: transparent;
}

caption
{
    padding-top: 21px;
    padding-bottom: 21px;

    text-align: left;
}

th
{
    text-align: left;
}

.table
{
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
}
.table tbody
{
    border: 1px solid #dedede;
}
.table tr > th,
.table tr > td
{
    line-height: 1.42857;

    padding: 21px;

    vertical-align: top;

    border-top: 1px solid #ddd;
    background: #fff;
}
.table > tfoot > tr > td
{
    background: transparent;
}
.table > thead > tr > th
{
    font-weight: 400;

    text-align: left;
    vertical-align: top;

    color: #afafaf;
    border-top: 0;
    background: transparent;
}
.table > tbody + tbody
{
    border-top: 2px solid #ddd;
}
.table .table
{
    background-color: #f5f5f5;
}
.table-middle tr > td
{
    vertical-align: middle;
}

.table--condensed tr > th,
.table--condensed tr > td
{
    padding: 5px;
}

.table--bordered
{
    border: 1px solid #ddd;
}
.table--bordered tr > th,
.table--bordered tr > td
{
    border: 1px solid #ddd;
}
.table--bordered > thead > tr > th,
.table--bordered > thead > tr > td
{
    border-bottom-width: 2px;
}

.table--striped > tbody > tr:nth-of-type(odd)
{
    background-color: #f9f9f9;
}

.table--hover > tbody > tr:hover
{
    -webkit-box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
       -moz-box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
            box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
table col[class*='col-']
{
    position: static;

    display: table-column;
    float: none;
}

/* col and colgroup
      <colgroup>
        <col class=t10>
        <col class=t10>
        <col class=t10>
        <col>
      </colgroup>*/
.t5
{
    width: 5%;
}

.t10
{
    width: 10%;
}

.t12
{
    width: 12.5%;
}

/* 1/8 */
.t15
{
    width: 15%;
}

.t20
{
    width: 20%;
}

.t25
{
    width: 25%;
}

/* 1/4 */
.t30
{
    width: 30%;
}

.t33
{
    width: 33.333%;
}

.t55
{
    width: 54.33333%;
}

table td[class*='col-'],
table th[class*='col-']
{
    position: static;

    display: table-cell;
    float: none;
}

.numerical
{
    text-align: right;
}

.tooltip
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.42857;

    position: absolute;
    z-index: 1030;

    display: block;

    text-align: left;
    text-align: start;
    white-space: normal;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    word-break: normal;

            opacity: 0;
    text-shadow: none;

    line-break: auto;
    -webkit-opacity: 0;
       -moz-opacity: 0;
}
.tooltip.in
{
            opacity: 1;

    -webkit-opacity: 1;
       -moz-opacity: 1;
}
.tooltip.top
{
    margin-top: -3px;
    padding: 10px 0;
}
.tooltip.right
{
    margin-left: 3px;
    padding: 0 10px;
}
.tooltip.bottom
{
    margin-top: 3px;
    padding: 10px 0;
}
.tooltip.left
{
    top: 26px !important;

    margin-left: -3px;
    padding: 0 10px;
}

.tooltip-inner
{
    font-family: 'yanuscregular';

    min-width: 170px;
    max-width: 200px;
    padding: 13px 5px;

    text-align: center;

    color: #777;
    border: 1px solid #e48f91;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(173, 13, 18, .6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(173, 13, 18, .6);
            box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(173, 13, 18, .6);
}

.has-error
{
    position: relative;
}

.tooltip-arrow
{
    position: absolute;

    width: 0;
    height: 0;

    border-style: solid;
    border-color: transparent;
}

.tooltip.top .tooltip-arrow
{
    bottom: 0;
    left: 50%;

    margin-left: -10px;

    border-width: 10px 10px 0;
    border-top-color: rgba(173, 13, 18, .6);
}

.tooltip.top-left .tooltip-arrow
{
    right: 10px;
    bottom: 0;

    margin-bottom: -10px;

    border-width: 10px 10px 0;
    border-top-color: rgba(173, 13, 18, .6);
}

.tooltip.top-right .tooltip-arrow
{
    bottom: 0;
    left: 10px;

    margin-bottom: -10px;

    border-width: 10px 10px 0;
    border-top-color: rgba(173, 13, 18, .6);
}

.tooltip.right .tooltip-arrow
{
    top: 50% !important;
    left: 1px;

    width: 10px;
    height: 20px;
    margin-top: -10px;

    background: url('../images/tooltipArr.png') no-repeat center center;
}

.tooltip.left .tooltip-arrow
{
    top: 50% !important;
    right: 1px;

    width: 10px;
    height: 20px;
    margin-top: -10px;

    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);

    background: url('../images/tooltipArr.png') no-repeat center center;
}

.tooltip.bottom .tooltip-arrow
{
    top: 0;
    left: 50%;

    margin-left: -10px;

    border-width: 0 10px 10px;
    border-bottom-color: rgba(173, 13, 18, .6);
}

.tooltip.bottom-left .tooltip-arrow
{
    top: 0;
    right: 10px;

    margin-top: -10px;

    border-width: 0 10px 10px;
    border-bottom-color: rgba(173, 13, 18, .6);
}

.tooltip.bottom-right .tooltip-arrow
{
    top: 0;
    left: 10px;

    margin-top: -10px;

    border-width: 0 10px 10px;
    border-bottom-color: rgba(173, 13, 18, .6);
}

.this-or-this {
    display: table;

    width: 100%;

    text-align: left;
}

.this-or-this__this,
.this-or-this__or {
    display: table-cell;

    width: 50%;

    vertical-align: top;
}

.center-block {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;

    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none;
}

.site-header
{
    font-size: 14px;
    position: relative;
/*    min-width: 960px;*/
    padding-top: 11px;
    padding-bottom: 14px;

    background-color: white;
    -webkit-box-shadow: 0 1px 13.9px 2.1px rgba(0, 0, 2, .2);
       -moz-box-shadow: 0 1px 13.9px 2.1px rgba(0, 0, 2, .2);
            box-shadow: 0 1px 13.9px 2.1px rgba(0, 0, 2, .2);
}
.site-header p
{
    margin-bottom: 0;
}

    .site-header .container {
        position: relative;
    }
.navbar-lang
{
    /*display: block;*/
    margin-left: 8px;
    margin-bottom: 11px;

    color: #777;
}

.navbar-phone
{
    font-size: 15px;
    font-weight: 300;

    text-decoration: none;

    color: #4a261a;
}

.navbar-call
{
    color: #4a261a;
}

.navbar-city
{
    color: #777;
}

.mainImg
{
/*    min-width: 960px;*/
    padding: 20px 0;

    color: #fff;
    background: url('../images/mainImg__adapt.png') center center no-repeat, #190a06;
}
.mainImgCatalog
{
    padding: 31px 0 22px;
    position: relative;
    background: url('../images/imgCatalog.jpg') center center no-repeat, #190a06;
}
.mainImgCatalog .shadow {
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;z-index: 0;
}
.mainImgCatalog .container {
    position: relative;z-index: 3;
}
.mainImgSoft
{
    padding: 1px 0 22px;

    background: url('../images/imgSoft.jpg') center center no-repeat, #190a06;
}
.mainImgCorp
{
    padding: 1px 0 22px;

    background: url('../images/imgCorp.jpg') top center no-repeat, #190a06;
}
.mainImgAbout
{
    padding: 1px 0 29px;

    background: url('../images/imgAbout.jpg') center center no-repeat, #190a06;
}
.mainImg h1 span
{
    font-weight: 400;

    display: block;
}
.mainImg h4
{
/*    font-weight: 500;*/
}
.mainImg .properties
{
    padding-top: 24px;
}
.mainImg .properties li {
    vertical-align: top;
}
.mainImg .properties.propertiesBlock li {
    width: 32%;
}
.mainImg .properties__about
{
    display: table;

    width: 100%;
    padding-top: 100px;
}
.mainImg .properties__about li
{
    display: table-cell;
}
.mainImg .properties__about img,
.mainImg .properties__about span,
.mainImg .properties__about li
{
    vertical-align: middle;
}
.properties__about a {
    color: #fff;
}
.mainImg .propertiesBlock
{
    padding-top: 23px;
}
.mainImg .propertiesBlock .properties__box
{
    margin-bottom: 24px;
}
.mainImg .properties span
{
    display: inline-block;

    margin-left: 29px;

    vertical-align: middle;
}
.mainImg .properties li + li
{
    margin-left: 81px;
}
.mainImg .properties.propertiesBlock li + li {
    margin-left: auto;
}
.mainImg .properties__box
{
    position: relative;

    display: inline-block;

    width: 65px;
    height: 65px;
    margin: auto;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    vertical-align: middle;

    border: 1px solid #bd9086;
}
.mainImg .properties__box > * {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.mainImg .properties__box img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}

.mainCatalog {
    padding: 59px 0 0;
}
.mainCatalog__item {
/*    height: 360px;*/
    margin-bottom: 17px;
}
.mainCatalog__item-img {
    position: relative;

    background-color: white;
}
.mainCatalog__item-img img {
    display: none;
}

.mainCatalog__item-title {
    display: table;

    width: 100%;
    height: 60px;

    text-align: center;
    text-transform: uppercase;
    background: white;
}

.mainCatalog__item-title h5 {
    display: table-cell;

    margin: 0;

    vertical-align: middle;
}
.mainCatalog__item .shadow {
    font-family: 'yanuscregular';
    background-color: #fff;
}
.mainCatalog__item .shadowInner {
    padding: 20px 17px 15px 30px;
}
.mainCatalog__item .shadowInner ul {
    margin: 0;
}
.mainCatalog__item .shadowInner li {
    line-height: 1.1;
    padding: 10px 0;
}
.mainCatalog__item-inner:hover {
    cursor: pointer;

    -webkit-box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
       -moz-box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
            box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
}



@media (min-width: 768px) {
    .mainCatalog__item .shadowInner {
        padding: 28px 17px 28px 30px;
    }
    .mainCatalog__item .shadowInner li {
    padding: 5px 0;
    }
    .mainCatalog__item .shadowInner a {
        color: #fff;
    }
    .mainCatalog__item-img img {
        display: block;
    }
    .mainCatalog__item .shadow {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.6)
    }
}

.mainShares
{
    line-height: 1.3333;

/*    min-width: 960px;*/
    padding: 75px 0 44px;

    text-align: center;

    background-color: white;
}
.mainShares__item-img
{
    position: relative;

    width: 83px;
    height: 83px;
    margin: auto;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border: 1px solid #bd9086;
}
.mainShares__item-img > *
{
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.mainShares__item-img img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
.mainShares__item-title
{
    margin-top: 40px;
    margin-bottom: 19px;
}
.mainShares__item-desc
{
    font-family: 'yanuscregular';
    font-size: 15px;
    font-weight: 400;

    color: #777;
}

.mainSales {
    padding: 0 0 34px;
}
.mainSales h2 {
    margin-bottom: 55px;
}
.mainSales__item
{
    display: block;

    margin-bottom: 21px;

    text-decoration: none;
}
.modal .mainSales__item-inner
{
    border: 1px solid #dedede;
}
.mainSales__item-img
{
    padding: 20px 10px;
    position: relative;

    text-align: center;

    background-color: white;
}
.mainSales__item-img.half
{
    line-height: 216px;
}
.mainSales__item-img.quarter {
    line-height: 156px;
}
.mainSales__item-img img {
    vertical-align: middle;
}
.mainSales__item-name {
    padding: 20px 10px 17px;

    text-align: center;

    background-color: white;
}
.mainSales__item-name p {
    line-height: 1.2;
    overflow: hidden;
    margin: 0;
}
aside .mainSales__item-name {
    font-family: 'yanuscregular';
    font-size: 14px;

    padding: 20px 20px 17px;

    text-align: left;
}
.mainSales__item-price .oldPrice {
    font-size: 16px;

    height: 25px;

    color: #777;
}
.mainSales__item-price .oldPrice p {
    margin-bottom: 0;

    text-decoration: line-through;
}
.mainSales__item-price .actualPrice {
  height: 20px;
    font-size: 22px;

    color: #c91e23;
}
.mainSales__item-price .miniPrice {
    font-size: 22px;

    min-height: 30px;
}
.mainSales__item-price .mainPrice {
    font-size: 22px;
    height: 43px;
}
.mainSales__item-price span {
    font-size: 16px;
}
.mainSales__item .sales {
    line-height: 1;

    position: absolute;
    top: 10px;
    right: 10px;

    text-transform: uppercase;
}
.mainSales__item .sales .btn {
    width: 86px;
    height: 29px;
    padding: 3px 10px;
}
.mainSales__item .sales + .sales {
    top: 49px;
}
.mainSales__item-hide {
    position: absolute;
    top: 97%;
    right: 0;
    left: 0;

    display: none;

    padding: 6px 34px 31px;

    background-color: white;
    -webkit-box-shadow: 0 16px 14px rgba(2, 2, 2, .43);
       -moz-box-shadow: 0 16px 14px rgba(2, 2, 2, .43);
            box-shadow: 0 16px 14px rgba(2, 2, 2, .43);
}
.mainSales__item-hide ul {
    font-family: 'yanuscregular';
    font-size: 16px;
}
.mainSales__item-hide .btn {
    width: 167px;
}
.mainSales__item-hide .materials {
    margin: 17px 0 31px;
}
.mainSales__item-hide .materials__item {
    display: inline-block;

    margin: 0 1px;
}
.mainSales__item-inner {
    position: relative;

    cursor: pointer;
}
.mainSales__item-inner:hover {
    z-index: 9;

    -webkit-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
       -moz-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
            box-shadow: 0 0 14px rgba(2, 2, 2, .43);
}
.mainSales__item-inner:hover .mainSales__item-hide {
    display: block;
}

.menuSales {
    padding: 13px 0 3px;
    display: none;
    text-align: center;

    background: #a17a6f;
}
.menuSales-img {
    height: 45px;
}
.menuSales a {
    color: #fff;
}
.menuSales ul {
    display: table;

    width: 100%;
    margin: 0;
}
.menuSales li {
    line-height: 1.1;

    position: relative;

    display: table-cell;

    vertical-align: top;
}
.menuSales li.active a {
    text-decoration: none;

    opacity: .5;
}
.menuSales li.active::before {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;

    width: 0;
    height: 0;
    margin: auto;

    content: '';

    opacity: 1;
    border-width: 0 13.5px 7px 13.5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

@media (min-width: 768px) {
   .mainSales {
    padding: 34px 0 59px;
    }
    .mainSales__item-name p {
        height: 42px;
    }
    .mainSales__item-img {
        line-height: 208px;
        padding: 10px;
    }
}


.owlTitle {
    padding: 54px 0 50px;

    background: #fff;
}
.owlTitle h2 {
    font-weight: 300;

    margin: 0;
}

.item {
    position: relative;
}
.item .title {
    font-weight: 400;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 12px 20px;

    background: rgba(255, 255, 255, .8);
}

.navbar-form .form-group {
    position: relative;
}

.navbar-form input {
    border-color: black;
    display: none;
}

.navbar-form button {
/*
    position: absolute;
    top: 8px;
    right: 5px;
*/
    height: 35px;
    padding: 6px 10px;
    margin-right: 10px;
    border: 1px solid black;
    background: transparent;
}


@media (min-width: 992px) { 
    .menuSales {
        display: block;
    }
}
@media (min-width: 768px) {
    .mainSales__item-price .mainPrice {
        font-size: 34px;
    }
    .navbar-form {margin: 10px 0;}
    .text--main {
        font-size: 13px;
    }
    .navbar-form button {
        position: absolute;
        top: 8px;
        right: 5px;
        border: none;
        margin: 0;
    } 
    .navbar-form input {
        display: block;
    }
}

.sort
{
    font-family: 'yanuscregular';

    margin-top: 20px;
}
.sort a.active
{
    text-decoration: none;

    color: #777;
}

.filter
{
    font-family: 'yanuscregular';

    padding: 28px 0 50px;
    display: none;
    background: #fff;
}
.filter.active
{
    padding: 28px 0 7px;
}
.filter .filter__inner
{
	/*overflow: hidden;*/
    padding-bottom: 70px;
    max-height: 171px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}
.filter .filter__inner.active
{
    max-height: 10000px;
}
.filter__item
{
    max-height: 171px;
}
.active .filter__item
{
    max-height: 10000px;
}
.filter__item h6
{
    font-size: 15px;

    margin-bottom: 15px;
}
.filter__item-range

    margin-bottom: 26px;
    padding-bottom: 39px;
}
.filter__item-range li
{
    display: inline-block;

    vertical-align: middle;
}
.filter__item-range input
{
    width: 108px;
}
.active .filter__item-range.last
{
    border-bottom: 1px dashed #898989;
}
.filter__item-body + .filter__item-title
{
    margin-top: 40px;
}
.filter__item-body {
    margin-bottom: 40px;
}
.filter__item-innerF
{
    position: relative;
    z-index: 1;

    overflow: hidden;

    max-height: 171px;
    padding: 0 12px;
}
.filter__item-innerF:hover
{
    max-height: 1000px;
}
.active .filter__item-innerF
{
    max-height: 1000px;
}
.filter__item-innerS
{
    display: none;

    padding: 0 12px;
}
.active .filter__item-innerS
{
    display: block;
}
.filter__item-innerT
{
    display: none;
}
.active .filter__item-innerT
{
    display: block;
}
.filter-count
{
    position: absolute;
    z-index: 10;
    top: 50%;
    right: -25px;

    display: none;

    width: 293px;
    padding: 12px;

    border: 1px solid #e48f91;
    background-color: white;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
            box-shadow: inset 0 1px 1px rgba(0, 1, 1, .15), 0 0 5px rgba(228, 143, 145, .36);
}
.filter-count::before
{
    position: absolute;
    top: 30%;
    left: -10px;

    width: 10px;
    height: 20px;

    content: '';

    background: url('../images/tooltipArr.png') no-repeat center center;
}
.filter .triangle
{
    position: relative;

    margin-left: 6px;
}
.filter .triangle::before
{
    display: inline-block;

    width: 0;
    height: 0;

    content: '';

    border-style: solid;
}
.filter .triangleUp::before
{
    border-width: 0 5.5px 9px 5.5px;
    border-color: transparent transparent #ccc transparent;
}
.filter .triangleDown::before
{
    border-width: 9px 5.5px 0 5.5px;
    border-color: #ccc transparent transparent transparent;
}
.filter .textFilter
{
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 10;
}
.filter .textFilterLeft
{
    right: auto;
    left: 10px;
    bottom: -30px;
    display: none;
}
.filter .textFilter .showFilter
{
    display: none;
}
.filter .textFilter .hideFilter
{
    display: block;
}
.filter .textFilter.active
{
    bottom: -15px;
}
.filter .textFilter.active .showFilter
{
    display: block;
}
.filter .textFilter.active .hideFilter
{
    display: none;
}

@media (min-width: 768px) {
    .filter {
        display: block;
    }
    .filter__item-innerF {
        background: #fff;
    }
    .filter .filter__inner:not(.active) .filter__item-innerF:hover {
        -webkit-box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
           -moz-box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
                box-shadow: 0 1px 10.1px 3.9px rgba(0, 0, 2, .12);
    }
    .filter__item-range {
        width: 259px;
    }
}



.order {
    font-family: 'yanuscregular';

    padding: 24px 0;
}
.order .map {
    margin: 29px 0 22px;
}
.order .phone {
    font-size: 22px;
}
.order__item {
    margin-bottom: 48px;
}
.order ul span:first-child {
    display: inline-block;

    width: 170px;
}
.order p {
    margin-bottom: 20px;
}
.order__radio-body {
    display: none;
}

.input__quantity-js {
    width: 82px;
}
.input__quantity-js .btn {
    font-size: 25px;
    line-height: 0;

    width: 23px;
    height: 23px;
    padding: 0 4px;

    color: #777;
    background: #fff;
}
.input__quantity-js .btn:hover,
.input__quantity-js .btn:focus
{
    color: #c91e23;
    border-color: #e48f91;
}
.input__quantity-js .form-control
{
    width: 36px;
    height: 23px;
    padding: 0 4px;

    text-align: center;

    color: black;
}

.busket-img {
    line-height: 80px;

    width: 130px;
    height: 87px;

    text-align: center;

    border: 1px solid #dedede;
    background-color: white;
}
.busket-img_mini {
    line-height: 50px;

    width: 74px;
    height: 54px;
}
.busket-img img {
    vertical-align: middle;
}

.busket-summ {
    font-size: 22px;
    text-align: right;
}
.busket-summ span {
    font-size: 16px;
}
.busket-summ p {
    margin: 0;
}

.busket-name ul {
    font-size: 14px;
}

.busket-del a {
    display: block;

    width: 21px;
}

.busket-del img {
    width: 21px;
    height: 21px;
    padding: 5px;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #777;
}

.busket-del a:hover img
{
    background: #c91e23;
}

.busket .table th,
.busket .table td {
    padding: 13px;
}
.busket tfoot td,
.busket .busket-del {
    vertical-align: middle;
}

.card
{
    padding-bottom: 40px;
}
.card .big-images
{
    margin: 20px 0;
}
.card .big-images .item
{
    position: relative;
}
.cardPrice
{
    font-size: 30px;
    font-weight: 500;

    margin-top: 29px;
}
.cardPrice span
{
    font-size: 16px;
    font-weight: 400;
}
.cardPrice-old
{
    font-size: 22px;
    font-weight: 400;

    text-decoration: line-through;

    color: #777;
}
.cardPrice-old span
{
    font-size: 16px;
}
.cardTab
{
    margin: 25px 0;
}
.cardList
{
    margin-top: 29px;
}
.cardList img
{
    width: 29px;
    margin-right: 16px;

    vertical-align: middle;
}
.cardList li
{
    margin-bottom: 10px;

    vertical-align: middle;
}
.cardColor__inner-js div
{
    position: relative;

    width: 48px;
    height: 48px;
    margin: auto;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 3px solid transparent;
}
.cardColor__inner-js div img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
/*.cardColor__inner-js div::before
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

}*/
.cardColor__inner-js div.active
{
    /*background: url('../images/matOk.png') center center no-repeat, rgba(0, 0, 0, .3);*/
    border-color: #C91E23;
}
.cardColor__inner-js li
{
    padding: 0 10px;

    text-align: center;
    vertical-align: top;
}
.cardColor__inner-js li p
{
    color: #afafaf;
}
.cardColor__inner-js li .active + p
{
    color: #777;
}

.cloudzoom-zoom-inside:before
{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 34px;
    height: 34px;
    margin: auto;

    content: '';

    background: url('../images/hoverImgIco.png') center center;
}

.tab
{
    margin-bottom: 15px;
    padding: 0;
}
.tab .active a
{
    position: relative;

    text-decoration: none;

    color: #777;
}
.tab .active a::before
{
    position: absolute;
    right: 0;
    bottom: -17px;
    left: 0;

    display: inline-block;

    width: 27px;
    height: 7px;
    margin: auto;

    content: '';

    background: url('../images/tabIco.png') center no-repeat;
}
.tab li
{
    padding-right: 10px;
    padding-left: 10px;
}

.tab-content
{
    padding: 30px;

    background-color: white;
}

.item:hover.slide
{
    cursor: pointer;
}
.item:hover.slide-3d
{
    position: relative;
}
.item:hover.slide-3d:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    /*background: url('../images/slide3d.png') center center no-repeat, rgba(0, 0, 0, .4);*/
    /*background: url('../images/3D.png') center center no-repeat, rgba(0, 0, 0, .4);*/
}
.item:hover.slide-video
{
    position: relative;
}
.item:hover.slide-video:after
{
    line-height: 3.7;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    /*background: url('../images/slideVideo.png') center center no-repeat, rgba(0, 0, 0, .4);*/
    background: url('../images/video.png') center center no-repeat, rgba(0, 0, 0, .4);
}
.item:hover.slide-img
{
    position: relative;
}
.item:hover.slide-img:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background: url('../images/slideImg.png') center center no-repeat, rgba(0, 0, 0, .4);
}

.aboutVideo
{
    padding: 61px 0 46px;

    background-color: white;
}

.aboutImg
{
    padding: 29px 0 60px;
}

.aboutAwards
{
    padding: 29px 0 49px;
}
.aboutAwards img
{
    margin-bottom: 20px;
}

.aboutReview
{
    padding: 29px 0 60px;

    background-color: white;
}
.aboutReview p
{
    margin-bottom: 26px;
}

.customFont
{
    font-family: 'yanuscregular';
}

ymaps[class*='-controls-pane'],
ymaps[class*='-copyrights-pane']
{
    display: none;
}

.mainSales h5
{
    margin-top: 0;
}

.shareBlock img
{
    display: block;
}

.shareBlock p
{
    color: #777;
}

.shareBlock--body
{
    padding: 24px 34px;

    border: 1px solid white;
    background-color: white;
}

.shareBlock_time
{
    margin-bottom: 22px;
}

.newsBlock img
{
    display: block;
}

.newsBlock p
{
    color: #777;
}

.newsBlock__inner
{
    padding: 24px 34px;

    border: 1px solid white;
    background-color: white;
}

.newsBlock_date
{
    margin-top: 12px;
    margin-bottom: 12px;
}

.newsBlock__list--item
{
    display: block;

    padding: 10px 30px;

    text-decoration: none;

    border: 1px solid #dedede;
    background-color: white;
}
.newsBlock__list--item h3
{
    font-size: 24px;
    font-weight: 400;

    margin-top: 8px;
}
.newsBlock__list--item:hover
{
    z-index: 9;

    -webkit-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
       -moz-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
            box-shadow: 0 0 14px rgba(2, 2, 2, .43);
}

.newsSlider
{
    margin: 20px 0;
}
.newsSlider .thumbs
{
    padding: 5px 40px;
}
.newsSlider .thumbs .owl-prev
{
    left: 10px;
}
.newsSlider .thumbs .owl-next
{
    right: 10px;
}
.newsSlider .thumbs .owl-nav [class*='owl-']
{
    top: 23px;
}

.search--main
{
    padding: 10px 25px;

    border: 1px solid white;
    background-color: white;
}
.search--main .form-control,
.search--main .btn
{
    height: 44px;
}
.search--main .btn
{
    min-width: 130px;

    text-decoration: none;

    color: #fff;
    background: #c91e23;
}
.search--main .btn:hover
{
    border-color: #ac0d12;
    background-color: #ac0d12;
}

.tab-content_search
{
    padding: 0 10px;

    background: transparent;
}

.tabSearch
{
    margin: 16px 0;
}
.tabSearch .active a
{
    border-color: #c91e23;
}

.searchBlock__item
{
    display: block;

    padding: 10px 30px;

    text-decoration: none;

    border: 1px solid #dedede;
    background-color: white;
}
.searchBlock__item h3
{
    font-size: 24px;
    font-weight: 400;
}
.searchBlock__item:hover
{
    z-index: 9;

    -webkit-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
       -moz-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
            box-shadow: 0 0 14px rgba(2, 2, 2, .43);
}

.mainSales__item-inner
{
    display: block;

    text-decoration: none;
}

.page404,
.page500
{
    padding: 100px 0;
}
.page404 h1,
.page500 h1
{
    font-size: 140px;
    font-weight: 400;

    color: #522013;
}
.page404 h1 span,
.page500 h1 span
{
    color: #9a6d63;
}
.page404 h5,
.page500 h5
{
    font-size: 24px;
    font-weight: 400;
}

.contactsBlock
{
    margin-bottom: 50px;
}
.contactsBlock h4
{
    font-weight: 400;
}
.contactsBlock__inner
{
    padding: 20px 41px;
    margin-top: 30px;
    border: 1px solid #dedede;
    background-color: white;
}
.contactsBlock__item { margin-bottom: 39px;}
.contactsBlock__item h4 {margin: 0;}
.contactsBlock__item p {margin: 0;}
.contactsBlock__item ul { color: #777;}
.contactsBlock ul span
{
/*    font-size: 24px;

    display: block;*/

    padding-top: 20px;
}
.contactsBlock ul a
{
    text-decoration: none;

    color: #777;
}
.contactsBlock ul a:hover
{
    text-decoration: underline;
}

.list--bullet
{
    margin-bottom: 20px;
    margin-left: 11px;
    padding-left: 0;

    list-style: none;
}
.list--bullet ul
{
    margin-bottom: 0;
    margin-left: 40px;

    list-style: none;
}
.list--bullet li
{
    margin-top: 5.25px;
    margin-bottom: 5.25px;
}
.list--bullet li:last-child
{
    margin-bottom: 0;
}
.list--bullet li::before
{
    font-size: 20px;

    margin-right: 5px;

    content: '— ';
}


@media (max-width: 767px) {
    .card h2 {
        font-size: 27px;
    }
    .busket tbody {
        position: relative;
    }
    .busket-del {
        position: absolute;
        top: 10px;right: 10px;z-index: 10;
        width: auto !important;
    }
    .busket .table,
    .busket .table tr,
    .modal .table,
    .modal .table tr,
    .order .table,
    .order .table tr {
        display: block;
        text-align: left;
    }
    .busket .table tbody tr,
    .modal .table tbody tr,
    .order .table tbody tr {
        background: #fff;
        padding: 15px;
    }
    .busket .table th,
    .busket .table td,
    .modal .table th,
    .modal .table td,
    .order .table td {
        display: inline-block;
        border-top: none;
        padding: 5px;
    }
    .busket .table th,
    .busket .table td,
    .modal .table th,
    .modal .table td,
    .order .table td {
        width: 100%;
    }
    .busket .table tfoot,
    .modal .table tfoot,
    .order .table tfoot {
        text-align: right;
    }
    .busket .busket-summ p,
    .busket .input__quantity-js,
    .modal .busket-summ p,
    .modal .input__quantity-js,
    .order .busket-summ p,
    .order .input__quantity-js {
        float: right;
        width: auto;
    }
    video {
        width: 100%;
        height: auto;
    }
    .tab-content {
        padding: 10px;
    }
    .tab li {
       display: block;
        background: url(../images/_selectIcoDown.png) center right 10px no-repeat, #fff;
        padding: 10px;
        margin-bottom: 10px;
    }
    .tab li a {
        text-decoration: none;
    }
    .tab .active {
        background: url(../images/_selectIcoDown.png) center right 10px no-repeat, #DEDEDE;
    }
    .tab .active a::before {display: none;}
}



.footer {
/*    min-width: 960px;*/
    padding: 45px 0 8px;

    color: #fff;
    background-color: #3a3a3a;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footerTop {
    padding-bottom: 29px;
}
.footer .text--default {
    color: #b3b3b3;
}
.footerBottom .text--lg {
    font-weight: 500;
}
.footerBottom .social ul {
    margin-top: 10px;
    padding: 0;
}
.footerBottom .social ul li {
/*    padding: 0 10px;*/
    list-style: none;
}
.footerMenu li {
    font-family: 'yanuscregular';
    line-height: 1.06666;

    margin-bottom: 14px;
}
.footerMenu li a {
    text-decoration: none;
}
.footerMenu li a:hover {
    text-decoration: underline;
}
.footer .copyright {
    font-family: 'yanuscregular';
    padding-top: 13px;
}

@media (min-width: 768px) {
   .footer .copyright {
    padding-top: 33px; }
}

#scroll {
    position: fixed;
    z-index: 10;
    right: 100px;
    bottom: 100px;

    display: none;

    cursor: pointer;
}
#scroll:hover {
    opacity: .8;
}

.margright0 {
    margin-right: 0;
}

.margbot0 {
    margin-bottom: 0;
}

.margtop0
{
    margin-top: 0;
}

.margright10
{
    margin-right: 10px;
}

.margbot10
{
    margin-bottom: 10px;
}

.margtop10
{
    margin-top: 10px;
}

.margright20
{
    margin-right: 20px;
}

.margbot20
{
    margin-bottom: 20px;
}

.margtop20
{
    margin-top: 20px;
}

.margright30
{
    margin-right: 30px;
}

.margbot30
{
    margin-bottom: 30px;
}

.margtop30
{
    margin-top: 30px;
}

.margright40
{
    margin-right: 40px;
}

.margbot40
{
    margin-bottom: 40px;
}

.margtop40
{
    margin-top: 40px;
}

.margright50
{
    margin-right: 50px;
}

.margbot50
{
    margin-bottom: 50px;
}

.margtop50
{
    margin-top: 50px;
}

.margright60
{
    margin-right: 60px;
}

.margbot60
{
    margin-bottom: 60px;
}

.margtop60
{
    margin-top: 60px;
}

.margright70
{
    margin-right: 70px;
}

.margbot70
{
    margin-bottom: 70px;
}

.margtop70
{
    margin-top: 70px;
}

.margright80
{
    margin-right: 80px;
}

.margbot80
{
    margin-bottom: 80px;
}

.margtop80
{
    margin-top: 80px;
}

.margright90
{
    margin-right: 90px;
}

.margbot90
{
    margin-bottom: 90px;
}

.margtop90
{
    margin-top: 90px;
}

.margright100
{
    margin-right: 100px;
}

.margbot100
{
    margin-bottom: 100px;
}

.margtop100
{
    margin-top: 100px;
}

.padtopbot0
{
    padding-top: 0;
    padding-bottom: 0;
}

.padtop0
{
    padding-top: 0;
}

.padbot0
{
    padding-bottom: 0;
}

.padtopbot10
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padtop10
{
    padding-top: 10px;
}

.padbot10
{
    padding-bottom: 10px;
}

.padtopbot20
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.padtop20
{
    padding-top: 20px;
}

.padbot20
{
    padding-bottom: 20px;
}

.padtopbot30
{
    padding-top: 30px;
    padding-bottom: 30px;
}

.padtop30
{
    padding-top: 30px;
}

.padbot30
{
    padding-bottom: 30px;
}

.padtopbot40
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.padtop40
{
    padding-top: 40px;
}

.padbot40
{
    padding-bottom: 40px;
}

.padtopbot50
{
    padding-top: 50px;
    padding-bottom: 50px;
}

.padtop50
{
    padding-top: 50px;
}

.padbot50
{
    padding-bottom: 50px;
}

.padtopbot60
{
    padding-top: 60px;
    padding-bottom: 60px;
}

.padtop60
{
    padding-top: 60px;
}

.padbot60
{
    padding-bottom: 60px;
}

.padtopbot70
{
    padding-top: 70px;
    padding-bottom: 70px;
}

.padtop70
{
    padding-top: 70px;
}

.padbot70
{
    padding-bottom: 70px;
}

.padtopbot80
{
    padding-top: 80px;
    padding-bottom: 80px;
}

.padtop80
{
    padding-top: 80px;
}

.padbot80
{
    padding-bottom: 80px;
}

.padtopbot90
{
    padding-top: 90px;
    padding-bottom: 90px;
}

.padtop90
{
    padding-top: 90px;
}

.padbot90
{
    padding-bottom: 90px;
}

.padtopbot100
{
    padding-top: 100px;
    padding-bottom: 100px;
}

.padtop100
{
    padding-top: 100px;
}

.padbot100
{
    padding-bottom: 100px;
}
.pad0 {
    padding: 0;
}
div.field-error-message{
  color: #C91E23;
}
.mainImg .properties div:not(.properties__box) {
    display: inline-block;
    margin-left: 29px;
    vertical-align: middle;
}

/* правила для таблиц */
.table-class td, .table-class th {
	padding: 10px;
}
ul.nav.navbar-nav{
/*  width: 600px;*/
}
.materials__item img {
  border-radius: 50%;
}
.busket-img img {
    max-height: 100%;
}
.city-choose-row {
    width: 100%;
    min-height: 45px;
}
.mainSales__item-price div.price-50{
    width: 48%;
    display: inline-block;
}
.oldPrice .price-50 {
    margin-bottom: 0;
    text-decoration: line-through;
}
.cardPrice div.price-50{
    width: 48%;
    display: inline-block;
}
.cardPrice-old .price-50 {
    margin-bottom: 0;
    text-decoration: line-through;
}
.easy-autocomplete-container{
  z-index: 2000!important;
}
.before-price-size, .cardPrice-old-before, .cardPrice-actual-before{
  font-size: 22px;
}
div.product-name-in-list {
    display: block;
    height: 52px;
}
.lint-to-pinskdrev-ru a {
    color: #c91e23;
}
.region-city-list-header h5 {
    color: #c91e23;
}
.text--xxl {
    font-size: 43px;
    font-weight: 100;
}
.header-phone-editable-block {
    font-weight: 300;
    margin-top: 3px;
}
.cardVariants .mainSales__item-price div.price-50 {
    width: 47%;
}
.cardVariants .mainSales__item-price div.before-price-size {
    font-size: 14px;
}
.cardVariants .mainSales__item-price .actualPrice {
    font-size: 16px;
    height: auto;
}
/**кто-то накосячил с js и скрывает ссылки в табах на странице товара - это спасает**/
div.cardTab>ul>li>a {
    display: block!important;
    visibility: visible!important;
}
/****/

@media (max-width: 767px) {
    .mainImg .properties__about {
        display: block;
        padding-top: 20px;
    }
    .mainImg .properties__about li {
        display: block;
        margin: 10px 0;
    }
    .mainCatalog {
        padding: 19px 0 0;
    }
    .mainCatalog__item-title.itemFull {
        background: url('../images/arrProdD.png') center right 15px no-repeat, white;
    }
    .mainCatalog__item a {text-decoration: none;font-size: 16px;}
    .mainCatalog__item a:hover {text-decoration: underline;}
    .active .mainCatalog__item-title.itemFull {
        border-bottom: 1px solid #d7d7d7;
        background: url('../images/arrProd.png') center right 15px no-repeat, white;
    }
    .mainCatalog__item .shadow {
       display: none !important;
    }
    .mainCatalog__item .active .shadow {
       display: block !important;
    }
    .mainSales__item-img,
    .mainSales__item-name,
    .mainSales__item-img.quarter {
        background-color: transparent;
        width: 48%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        line-height: 1.2;
        text-align: left;
    }
    .mainSales__item-name .oldPrice, .mainSales__item .sales {
        display: none;
    }
    .before-price-size + div {
        display: none !important;
    }
    .cardVariants .mainSales__item-price div.price-50 {width: 100%;margin-top: 15px;}
}
