
.pagination
{
    display: block;

    margin: 21px 0;
    padding-left: 0;

    text-align: center;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pagination > li
{
    display: inline-block;
}
.pagination > li > a,
.pagination > li > span
{
    line-height: 1.42857;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 10px 13px;

    text-decoration: underline;

    color: #000;
    border: 3px solid transparent;
    background-color: transparent;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span
{
    margin-left: 0;

    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span
{
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus
{
    z-index: 3;

    text-decoration: none;

    color: #000;
    border-color: #c91e23;
    background-color: transparent;
}
.pagination .default a
{
    text-decoration: none;

    color: #afafaf;
}
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus
{
    z-index: 2;

    cursor: default;
    text-decoration: none;

    color: #000;
    border-color: #c91e23;
    background-color: transparent;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus
{
    cursor: not-allowed;

    color: #777;
    border-color: #ddd;
    background-color: #fff;
}

.pager
{
    margin: 21px 0;
    padding-left: 0;

    list-style: none;

    text-align: center;
}
.pager:before,
.pager:after
{
    display: table;

    content: ' ';
}
.pager:after
{
    clear: both;
}
.pager li
{
    display: inline;
}
.pager li > a,
.pager li > span
{
    display: inline-block;

    padding: 5px 4px;

    border: 1px solid transparent;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: transparent;
}
.pager li > a:hover,
.pager li > a:focus
{
    text-decoration: none;

    background-color: transparent;
}
.pager .next > a,
.pager .next > span
{
    float: right;
}
.pager .next > a i,
.pager .next > span i
{
    font-style: normal;

    color: #afafaf;
}
.pager .next > a.def,
.pager .next > span.def
{
    text-decoration: none;
}
.pager .previous > a,
.pager .previous > span
{
    float: left;
}
.pager .previous > a i,
.pager .previous > span i
{
    font-style: normal;

    color: #afafaf;
}
.pager .previous > a.def,
.pager .previous > span.def
{
    text-decoration: none;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span
{
    cursor: not-allowed;

    color: #777;
    background-color: transparent;
}


.mainSales h5
{
    margin-top: 0;
}

.shareBlock img
{
    display: block;
}

.shareBlock p
{
    color: #777;
}

.shareBlock--body
{
    padding: 24px 34px;

    border: 1px solid white;
    background-color: white;
}

.shareBlock_time
{
    margin-bottom: 22px;
}

.newsBlock img
{
    display: block;
}

.newsBlock p
{
    color: #777;
}

.newsBlock__inner
{
    padding: 24px 34px;

    border: 1px solid white;
    background-color: white;
}

.newsBlock_date
{
    margin-top: 12px;
    margin-bottom: 12px;
}

.newsBlock__list--item
{
    display: block;

    padding: 10px 30px;

    text-decoration: none;

    border: 1px solid #dedede;
    background-color: white;
}
.newsBlock__list--item h3
{
    font-size: 24px;
    font-weight: 400;

    margin-top: 8px;
}
.newsBlock__list--item:hover
{
    z-index: 9;

    -webkit-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
    -moz-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
    box-shadow: 0 0 14px rgba(2, 2, 2, .43);
}

.newsSlider
{
    margin: 20px 0;
}
.newsSlider .thumbs
{
    padding: 5px 40px;
}
.newsSlider .thumbs .owl-prev
{
    left: 10px;
}
.newsSlider .thumbs .owl-next
{
    right: 10px;
}
.newsSlider .thumbs .owl-nav [class*='owl-']
{
    top: 23px;
}

.search--main
{
    padding: 10px 25px;

    border: 1px solid white;
    background-color: white;
}
.search--main .form-control,
.search--main .btn
{
    height: 44px;
}
.search--main .btn
{
    min-width: 130px;

    text-decoration: none;

    color: #fff;
    background: #c91e23;
}
.search--main .btn:hover
{
    border-color: #ac0d12;
    background-color: #ac0d12;
}

.tab-content_search
{
    padding: 0 10px;

    background: transparent;
}

.tabSearch
{
    margin: 16px 0;
}
.tabSearch .active a
{
    border-color: #c91e23;
}

.searchBlock__item
{
    display: block;

    padding: 10px 30px;

    text-decoration: none;

    border: 1px solid #dedede;
    background-color: white;
}
.searchBlock__item h3
{
    font-size: 24px;
    font-weight: 400;
}
.searchBlock__item:hover
{
    z-index: 9;

    -webkit-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
    -moz-box-shadow: 0 0 14px rgba(2, 2, 2, .43);
    box-shadow: 0 0 14px rgba(2, 2, 2, .43);
}

.mainSales__item-inner
{
    display: block;

    text-decoration: none;
}

.page404,
.page500
{
    padding: 100px 0;
}
.page404 h1,
.page500 h1
{
    font-size: 140px;
    font-weight: 400;

    color: #522013;
}
.page404 h1 span,
.page500 h1 span
{
    color: #9a6d63;
}
.page404 h5,
.page500 h5
{
    font-size: 24px;
    font-weight: 400;
}

.contactsBlock
{
    margin-bottom: 50px;
}
.contactsBlock h4
{
    font-weight: 400;
}
.contactsBlock__inner
{
    padding: 20px 41px;

    border: 1px solid #dedede;
    background-color: white;
}
.contactsBlock__item
{
    margin-bottom: 39px;
}
.contactsBlock ul span
{
    font-size: 24px;

    display: block;

    padding-top: 20px;
}
.contactsBlock ul a
{
    text-decoration: none;

    color: #777;
}
.contactsBlock ul a:hover
{
    text-decoration: underline;
}

.list--bullet
{
    margin-bottom: 20px;
    margin-left: 11px;
    padding-left: 0;

    list-style: none;
}
.list--bullet ul
{
    margin-bottom: 0;
    margin-left: 40px;

    list-style: none;
}
.list--bullet li
{
    margin-top: 5.25px;
    margin-bottom: 5.25px;
}
.list--bullet li:last-child
{
    margin-bottom: 0;
}
.list--bullet li::before
{
    font-size: 20px;

    margin-right: 5px;

    content: '— ';
}


ul.dropdown-menu {
  position: absolute;
  left: 0;right: 0;top: 100%;
  background-color: #dccac6;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22);
  padding: 0;
  list-style-type: none;
}
.dropdown-menu ul li a {
  color: #4a261a;
 text-transform: uppercase;
 padding: 8px;
}